#cart-count{
  display: inline-block;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-weight: bold;
  width: 16px !important;
  padding-left: 4px !important;
  font-size: 12px;
  margin-left: 16px;
}